<div class="row">
    <div class="col-md-1">
    </div>
    <!-- ko foreach: app.moods -->
    <div class="col-md-2">
        <a data-bind="click: $data.sendMood, css: $data.img"><img class="smiley" data-bind="attr:{src: $data.img}" /></a>
    </div>
    <!-- /ko -->
    <div class="col-md-1">
    </div>
</div>
