@model IEnumerable<Mood.Models.Mood>

<div class="row">
    <!-- ko foreach: app.moods -->
    <div class="smiley-containers">
        <a data-bind="click: function() { $data.sendMood($parent) }"><img class="smiley" data-bind="attr:{src: $data.img}, css: $data.flash" /></a>
    </div>
    <!-- /ko -->
</div>

<script>
    window.moods = @Html.Raw(Json.Encode(Model))
</script>
