@model Mood.ViewModels.SurveyViewModel

<div class="row">
    <h1>@Model.Survey.Description</h1>
	<div class="row">
		<div id="detailsArea" class="col-xs-10">
			<button data-bind="click: showDetails" id="detailsButton" class="btn btn-primary details-button"><h4 class="h2-vertical-centered">Want to add a comment?</h4></button>
			<textarea id="details" name="details" data-bind="value: details, valueUpdate: 'afterkeydown'" rows="3" class="form-control growing-text hidden" placeholder="Add a comment..."></textarea>
		</div>
	</div>
	<h2></h2>
    <!-- ko foreach: app.moods -->
    <div data-bind="css: { first: $index() == 0, 'smiley-containers': true }">
        <a data-bind="click: function() { $data.sendMood($parent, '@Url.Action("Create", "Answer")?surveyId=@Model.Survey.Identifier&moodId=' + $data.value) }">
            <img class="smiley flashable" data-bind="attr:{src: $data.img}, css: $data.flash" />
        </a>
    </div>
    <!-- /ko -->
</div>

<script>
    window.moods = @Html.Raw(Json.Encode(Model.Moods))
</script>
