@model IEnumerable<Mood.Models.Survey>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <h1>Your Surveys:</h1>
    <ul>
        @foreach (var survey in Model)
        {
            <li>@Html.ActionLink(survey.Description, "View", "Survey", new { Id = survey.Id }, new { })</li>
        }
    </ul>
</div>
