@model IEnumerable<Mood.Models.Survey>
@{
    ViewBag.Title = "Home";
}
<div class="row">
    <h1>Your Surveys:</h1>
    <ul>
        @foreach (var survey in Model)
        {
            <li>@Html.ActionLink(survey.Description, "View", "Survey", new { Id = survey.Id }, new { })</li>
        }
        <li>@using (Html.BeginForm("Create", "Survey"))
        {
            <input type="submit" value="Create New: " class="btn btn-default" />
            @Html.TextBox("description", "How is your workday going?", new { size = "50" })
        }</li>
    </ul>
</div>
