@model Mood.ViewModels.ResultsViewModel
@using Mood.Util

<div class="row">
    <h1 data-bind="text: surveyDescription"></h1>
    <button class="btn btn-default" data-bind="click: copyAnswers">Copy Results to Clipboard</button>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <canvas id="moodChart"/>
    </div>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Mood</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: answers -->
            <tr data-bind="css: 'mood' + $data.moodId">
                <td data-bind="text: $data.timeString"></td>
                <td data-bind="text: $data.moodName"></td>
                <td data-bind="text: $data.details"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>
<script>
    window.resultsModel = @Html.Raw(Model.Encode())
</script>