body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

.header-text {
    color: #999999;
    padding: 15px 15px;
}

a:hover { /* Our no-url images should still have a clickable mouseover */
    cursor:pointer;
}

.smiley-containers {
    width: 14%; /* Assumes we have 5 moods */
    float: left;
    margin-left: 7.5%; /* with four gaps in between */
}

.smiley-containers.first {
    margin-left: 0;
}

.smiley {
    max-height: 100%;
    max-width: 100%;
    border-radius: 100px;
}

.flashable {
    transition: background 0.5s ease-in, opacity 0.5s ease-in;
}

.flashable.flash-green {
    transition: none;
    background: #668855;
}

.flash-fade {
    transition: none;
    opacity: .2;
}

.modal-content {
    padding: 15px;
}

.navbar-brand img {
    max-height: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.details-button {
	margin-left: 0;
	width: 50%;
}

.h2-vertical-centered {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* The tagsinput bootstrap library doesn't show disabled styles */
fieldset.tagsinput:disabled .bootstrap-tagsinput {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

@keyframes growing-text-animation {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.growing-text {
	animation: growing-text-animation;
	animation-duration: 1s;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}